<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LoginServ</display-name>
    <servlet-name>LoginServ</servlet-name>
    <servlet-class>controller.LoginServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServ</servlet-name>
    <url-pattern>/LoginServ</url-pattern>
  </servlet-mapping>
  <display-name>E-Learning-website</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>forgot</servlet-name>
    <servlet-class>controller.forgot</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Register_Servlet</servlet-name>
    <servlet-class>controller.Register_Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>changePassword</servlet-name>
    <servlet-class>controller.changePassword</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login_Servlet</servlet-name>
    <servlet-class>controller.Login_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgot</servlet-name>
    <url-pattern>/forgot</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register_Servlet</servlet-name>
    <url-pattern>/Register_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>changePassword</servlet-name>
    <url-pattern>/changePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login_Servlet</servlet-name>
    <url-pattern>/Login_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServ</display-name>
    <servlet-name>RegisterServ</servlet-name>
    <servlet-class>controller.RegisterServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServ</servlet-name>
    <url-pattern>/RegisterServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>takeQuiz</display-name>
    <servlet-name>takeQuiz</servlet-name>
    <servlet-class>controller.takeQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>takeQuiz</servlet-name>
    <url-pattern>/takeQuiz</url-pattern>
  </servlet-mapping>
</web-app>